<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Stunning sign up & login Form a Flat Responsive Widget Template :: w3layouts </title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Stunning sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
	/>
	<script>
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!-- Meta tags -->
		<!-- font-awesome icons -->
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<!-- //font-awesome icons -->
	<!--stylesheets-->
	<link href="css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//style sheet end here-->

<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
</head>

<body>
	<h1 class="header-w3ls">
		Stunning Sign Up & Login Form</h1>
			<div class="mid-cls">
<div class="swm-left-w3ls">
				<form action="#" method="post">
			<div class="main">
			<div class="icon-head-wthree">
			        <h2><span class="fa fa-diamond t-w3" aria-hidden="true"></span></h2>
					<h4>Sign Up</h4>
					</div>
									<div class="form-left-to-w3l">

							<input type="text" name="name" placeholder="Name" required="">
							<div class="clear"></div>
						</div>
									<div class="form-left-to-w3l">

							<input type="text" name="name" placeholder="Last Name" required="">
							<div class="clear"></div>
						</div>
				<div class="form-left-w3l">
				
					<input type="email" name="email" placeholder="Email" required="">
				</div>
				<div class="form-right-w3ls ">

					<input type="password" name="password" placeholder="Password" required="">

					<div class="clear"></div>
				</div>
<div class="btnn">
				<button type="submit">Sign Up</button><br>
				<div class="clear"></div>
			</div>
			</div>

		</form>
		<div class="col-md-2 header-side">
		<h4>Or Sign Up With</h4>
				<div class="buttom-social-grids">

					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>
				</div>
			</div>
</div>

<div class="swm-right-w3ls">
 <form action="#" method="post">
 			<div class="main">
				<div class="icon-head-wthree">
        <h2><span class="fa fa-diamond t-w3" aria-hidden="true"></span></h2>
		<h4>Login</h4>
		</div>
         <div class="form-left-w3l">
             
		     <input type="email" name="email" placeholder="Email" required="">
			
          <div class="clear"></div> 
		</div> 		   
		 <div class="form-right-w3ls ">
				
				<input type="password" name="password" placeholder="Password" required="">
			
		         <div class="clear"></div>
		</div>
	     <div class="btnn">

	          <button type="submit">Login</button><br>
       	      <a href="#" class="for" >Forgot password...?</a>  
       	      
        </div>	
     </div>

   </form>
<div class=" header-side">
<h4>Or Login With</h4>
				<div class="buttom-social-grids">

					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>
				</div>
			</div>
</div>
</div>
			<div class="copy">
		<p>&copy;2018 Stunning sign up & login Form. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
	</div>
</body>
</html>